{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "description": "",
        "contact": {
            "email": ""
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://notin.ir/api",
            "description": "Production Server"
        },
        {
            "url": "http://127.0.0.1:8000/api",
            "description": "Local Development Server"
        }
    ],
    "paths": {
        "/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "ثبت نام کاربر جدید",
                "description": "ایجاد حساب کاربری جدید و ارسال کد تأیید به ایمیل",
                "operationId": "0903f2e0df1a8857bee538fc055417f0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "ایمیل کاربر (باید منحصر به فرد باشد)",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "description": "رمز عبور (حداقل 6 کاراکتر)",
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 6,
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ثبت نام موفق",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "ثبت‌نام با موفقیت انجام شد. کد تأیید ارسال شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "خطای اعتبارسنجی",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "لطفاً ایمیل خود را وارد کنید."
                                        },
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "لطفاً ایمیل خود را وارد کنید."
                                                    }
                                                },
                                                "password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "رمز عبور باید حداقل ۶ کاراکتر باشد."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/verify-otp": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "تأیید کد OTP ثبت نام",
                "description": "تأیید کد ارسال شده به ایمیل برای اتمام ثبت نام و اخذ توکن احراز هویت",
                "operationId": "d65b6acd2e89eea00122acca415fbc86",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "code"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "ایمیل کاربر",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "code": {
                                        "description": "کد تأیید 4 رقمی",
                                        "type": "string",
                                        "example": "1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "تأیید موفق",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "احراز هویت با موفقیت انجام شد."
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user@example.com"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-01-01T00:00:00Z"
                                                },
                                                "image_profile": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-01-01T00:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-01-01T00:00:00Z"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|AbCdEfGhIjKlMnOpQrStUvWxYz"
                                        },
                                        "expires_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2023-01-31T00:00:00Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "کد نامعتبر یا منقضی",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کد تأیید نامعتبر است یا منقضی شده است."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "خطای اعتبارسنجی",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "لطفاً ایمیل را وارد کنید."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "ورود کاربر با ایمیل و رمز عبور",
                "description": "احراز هویت کاربر استفاده کننده از ایمیل و رمز عبور و اخذ توکن API",
                "operationId": "2dd578ff7aba2721293dac66833b27d1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "ایمیل کاربر",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "description": "رمز عبور",
                                        "type": "string",
                                        "format": "password",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ورود موفق",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "ورود با موفقیت انجام شد."
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user@example.com"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-01-01T00:00:00Z"
                                                },
                                                "image_profile": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-01-01T00:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-01-01T00:00:00Z"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|AbCdEfGhIjKlMnOpQrStUvWxYz"
                                        },
                                        "expires_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2023-01-31T00:00:00Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "احراز هویت ناموفق",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کاربری با این ایمیل یافت نشد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "خطای اعتبارسنجی",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "لطفاً ایمیل را وارد کنید."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/request-otp-login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "درخواست کد ورود یکبار مصرف",
                "description": "ارسال کد OTP به ایمیل کاربر برای ورود بدون رمز عبور",
                "operationId": "6d4e956fe2312353f5f1883a7574ec5c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "ایمیل کاربر",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "کد با موفقیت ارسال شد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کد ورود برای شما ارسال شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "ایمیل پیدا نشد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کاربری با این ایمیل یافت نشد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "خطای اعتبارسنجی",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "لطفاً ایمیل را وارد کنید."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "درخواست بیش از حد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "شما به محدودیت ارسال کد رسیده‌اید. لطفاً 3 ساعت و 0 دقیقه دیگر دوباره تلاش کنید."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login-with-otp": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "ورود با کد یکبار مصرف",
                "description": "احراز هویت کاربر با استفاده از کد OTP و اخذ توکن API",
                "operationId": "32c0805bcc3bc6681384042bee395cd8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "code"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "ایمیل کاربر",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "code": {
                                        "description": "کد تأیید 4 رقمی",
                                        "type": "string",
                                        "example": "1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ورود موفق",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "ورود کاربر با موفقیت انجام شد."
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user@example.com"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-01-01T00:00:00Z"
                                                },
                                                "image_profile": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-01-01T00:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-01-01T00:00:00Z"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|AbCdEfGhIjKlMnOpQrStUvWxYz"
                                        },
                                        "expires_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2023-01-31T00:00:00Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "کد نامعتبر یا منقضی",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کد تأیید نامعتبر است یا منقضی شده است."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "خطای اعتبارسنجی",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "لطفاً ایمیل را وارد کنید."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "خروج از حساب",
                "description": "حذف توکن فعلی و خروج کاربر از حساب",
                "operationId": "68a6108af04af5e3bc1ea68a6c6f1299",
                "responses": {
                    "200": {
                        "description": "خروج موفق",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "خروج از حساب با موفقیت انجام شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "توکن معتبر نیست",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "توکن معتبر یافت نشد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "خطای سرور",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "خطایی در خروج از حساب رخ داد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "درخواست بازیابی رمز عبور",
                "description": "ارسال کد OTP برای بازیابی رمز عبور فراموش شده",
                "operationId": "da27e3923ff357f8610f31cf2cb83224",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "ایمیل کاربر",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "کد با موفقیت ارسال شد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کد بازیابی رمز عبور برای شما ارسال شد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "ایمیل پیدا نشد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کاربری با این ایمیل یافت نشد."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "خطای اعتبارسنجی",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "لطفاً ایمیل را وارد کنید."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "درخواست بیش از حد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "شما به محدودیت ارسال کد رسیده‌اید. لطفاً 3 ساعت و 0 دقیقه دیگر دوباره تلاش کنید."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/verify-forgot-password-otp": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "تأیید کد بازیابی رمز عبور",
                "description": "تأیید کد OTP ارسال شده و دریافت توکن بازیابی برای تغییر رمز عبور",
                "operationId": "94d2afe6eb9504c179632cb75a521533",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "code"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "ایمیل کاربر",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "code": {
                                        "description": "کد تأیید 4 رقمی",
                                        "type": "string",
                                        "example": "1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "تأیید موفق",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کد تأیید شد. می‌توانید رمز عبور جدید را وارد کنید."
                                        },
                                        "reset_token": {
                                            "description": "توکن برای تغییر رمز عبور (مدت اعتبار 10 دقیقه)",
                                            "type": "string",
                                            "example": "1|AbCdEfGhIjKlMnOpQrStUvWxYz"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "کد نامعتبر یا کاربر پیدا نشد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "کد تأیید نامعتبر است یا منقضی شده است."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "خطای اعتبارسنجی",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "لطفاً ایمیل را وارد کنید."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/reset-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "تغییر رمز عبور",
                "description": "تغییر رمز عبور کاربر با استفاده از توکن بازیابی و اخذ توکن API جدید",
                "operationId": "7703a82fcc6647515895149f640b8722",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "new_password",
                                    "new_password_confirmation"
                                ],
                                "properties": {
                                    "new_password": {
                                        "description": "رمز عبور جدید (حداقل 6 کاراکتر)",
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 6,
                                        "example": "newpassword123"
                                    },
                                    "new_password_confirmation": {
                                        "description": "تأیید رمز عبور جدید",
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "رمز عبور با موفقیت تغییر کرد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "رمز عبور با موفقیت تغییر کرد. لطفاً دوباره وارد شوید."
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user@example.com"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-01-01T00:00:00Z"
                                                },
                                                "image_profile": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-01-01T00:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-01-01T00:00:00Z"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|AbCdEfGhIjKlMnOpQrStUvWxYz"
                                        },
                                        "expires_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2023-01-31T00:00:00Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "رمز عبورها مطابقت ندارند",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "رمز عبور و تأیید رمز عبور مطابقت ندارند."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "توکن معتبر نیست",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "دسترسی رد شد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "این توکن مجاز به تغییر رمز عبور نیست."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "خطای اعتبارسنجی",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "لطفاً رمز عبور جدید را وارد کنید."
                                        },
                                        "errors": {
                                            "properties": {
                                                "new_password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "رمز عبور جدید باید حداقل ۶ کاراکتر باشد."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "دریافت لیست دسته بندی‌ها",
                "description": "بازیابی لیست تمام دسته بندی‌ها با امکان جستجو",
                "operationId": "ead5fb1cf2a7453acb2e37928a1b1eaf",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "جستجو بر اساس نام دسته بندی",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "مدل‌های سه بعدی"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "لیست دسته بندی‌ها دریافت شد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "مدل‌های سه بعدی"
                                                    },
                                                    "color": {
                                                        "description": "رنگ دسته بندی",
                                                        "type": "string",
                                                        "example": "#FF5733"
                                                    },
                                                    "order": {
                                                        "description": "ترتیب نمایش",
                                                        "type": "integer",
                                                        "example": 1
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "pagination": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "from": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "to": {
                                                    "type": "integer",
                                                    "example": 10
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "عدم احراز هویت",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categories/with-products": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "دریافت دسته بندی‌ها با محصولات",
                "description": "بازیابی دسته بندی‌ها و محصولات فعال آن‌ها (حداکثر 20 محصول برای هر دسته)",
                "operationId": "fd8ffbd761b87b10dcd01ed3ea0b9f6d",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "جستجو در نام و توضیحات محصولات",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "تصویر"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "مرتب سازی محصولات",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "newest",
                                "oldest",
                                "most_liked",
                                "most_purchased",
                                "most_viewed",
                                "price_high",
                                "price_low"
                            ],
                            "example": "newest"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "فیلتر بر اساس دسته بندی خاص",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "دسته بندی‌ها با محصولات دریافت شد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "مدل‌های سه بعدی"
                                                    },
                                                    "color": {
                                                        "type": "string",
                                                        "example": "#FF5733"
                                                    },
                                                    "order": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "products": {
                                                        "description": "محصولات مرتب شده بر اساس ترجیح کاربر (خریداری + لایک شده محبوب‌تر است)",
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "name": {
                                                                    "type": "string",
                                                                    "example": "تصویر سه بعدی"
                                                                },
                                                                "high_quality_image": {
                                                                    "type": "string",
                                                                    "example": "https://example.com/storage/images/product-1-hq.jpg?signature=xxx"
                                                                },
                                                                "low_quality_image": {
                                                                    "type": "string",
                                                                    "example": "https://example.com/storage/images/product-1-lq.jpg?signature=xxx"
                                                                },
                                                                "price": {
                                                                    "type": "integer",
                                                                    "example": 100
                                                                },
                                                                "description": {
                                                                    "type": "string",
                                                                    "example": "توضیح محصول"
                                                                },
                                                                "likes": {
                                                                    "type": "integer",
                                                                    "example": 25
                                                                },
                                                                "views": {
                                                                    "type": "integer",
                                                                    "example": 150
                                                                },
                                                                "purchased": {
                                                                    "type": "integer",
                                                                    "example": 10
                                                                },
                                                                "category_id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "is_active": {
                                                                    "type": "boolean",
                                                                    "example": true
                                                                },
                                                                "is_3d": {
                                                                    "type": "boolean",
                                                                    "example": true
                                                                },
                                                                "created_at": {
                                                                    "type": "string",
                                                                    "format": "date-time",
                                                                    "example": "2023-01-01T00:00:00Z"
                                                                },
                                                                "updated_at": {
                                                                    "type": "string",
                                                                    "format": "date-time",
                                                                    "example": "2023-01-01T00:00:00Z"
                                                                },
                                                                "is_free": {
                                                                    "type": "boolean",
                                                                    "example": false
                                                                },
                                                                "is_purchased": {
                                                                    "type": "boolean",
                                                                    "example": false
                                                                },
                                                                "is_liked": {
                                                                    "type": "boolean",
                                                                    "example": false
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "عدم احراز هویت",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categories/{id}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "دریافت جزئیات دسته بندی",
                "description": "بازیابی اطلاعات کامل یک دسته بندی و آمار محصولات آن",
                "operationId": "4cdf41756315109f1efc72787db5830a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه دسته بندی",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "اطلاعات دسته بندی دریافت شد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "مدل‌های سه بعدی"
                                        },
                                        "color": {
                                            "type": "string",
                                            "example": "#FF5733"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "توضیح دسته بندی"
                                        },
                                        "order": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2023-01-01T00:00:00Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2023-01-01T00:00:00Z"
                                        },
                                        "total_likes": {
                                            "description": "کل لایک‌های تمام محصولات",
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "total_views": {
                                            "description": "کل مشاهدات تمام محصولات",
                                            "type": "integer",
                                            "example": 5000
                                        },
                                        "total_purchased": {
                                            "description": "کل خریدهای تمام محصولات",
                                            "type": "integer",
                                            "example": 100
                                        },
                                        "total_3d_products": {
                                            "description": "تعداد محصولات سه بعدی",
                                            "type": "integer",
                                            "example": 25
                                        },
                                        "total_paid_products": {
                                            "description": "تعداد محصولات پولی",
                                            "type": "integer",
                                            "example": 30
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "دسته بندی پیدا نشد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "دسته بندی یافت نشد"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "عدم احراز هویت",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/coin-packages": {
            "get": {
                "tags": [
                    "Coin Packages"
                ],
                "summary": "دریافت لیست پکیج‌های کوین",
                "description": "بازیابی لیست تمام پکیج‌های کوین فعال برای خریداری",
                "operationId": "79400b6d7464a26c67bfed8c1d6ab9a3",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "جستجو بر اساس نام پکیج",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "پکیج 100 کوین"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "لیست پکیج‌ها دریافت شد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "پکیج 100 کوین"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "پکیج مقدماتی"
                                                    },
                                                    "image": {
                                                        "description": "لینک فایل امضا شده برای تصویر",
                                                        "type": "string",
                                                        "example": "https://example.com/storage/images/package-1.jpg?signature=xxx"
                                                    },
                                                    "coins": {
                                                        "description": "تعداد کوین",
                                                        "type": "integer",
                                                        "example": 100
                                                    },
                                                    "price": {
                                                        "description": "قیمت اصلی",
                                                        "type": "integer",
                                                        "example": 100000
                                                    },
                                                    "discount_percentage": {
                                                        "description": "درصد تخفیف",
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "is_active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2023-01-01T00:00:00Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2023-01-01T00:00:00Z"
                                                    },
                                                    "final_price": {
                                                        "description": "قیمت بعد از تخفیف",
                                                        "type": "integer",
                                                        "example": 90000
                                                    },
                                                    "discount_amount": {
                                                        "description": "مبلغ تخفیف",
                                                        "type": "integer",
                                                        "example": 10000
                                                    },
                                                    "link_cafebazaar": {
                                                        "description": "لینک کافه بازار (اختیاری)",
                                                        "type": "string",
                                                        "example": "https://cafebazaar.ir/..."
                                                    },
                                                    "link_myket": {
                                                        "description": "لینک مایکت (اختیاری)",
                                                        "type": "string",
                                                        "example": "https://myket.ir/..."
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "عدم احراز هویت",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/coin-packages/purchase-package": {
            "post": {
                "tags": [
                    "Coin Packages"
                ],
                "summary": "خریداری پکیج کوین",
                "description": "خریداری یک پکیج کوین، تأیید مبلغ، و به‌روزرسانی کیف پول",
                "operationId": "e75087caba7c5937d23d9153e821df77",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "coin_package_id",
                                    "paid_amount",
                                    "pay_reference_code"
                                ],
                                "properties": {
                                    "coin_package_id": {
                                        "description": "شناسه پکیج کوین",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "paid_amount": {
                                        "description": "مبلغ پرداخت شده (باید برابر با final_price باشد)",
                                        "type": "integer",
                                        "example": 90000
                                    },
                                    "pay_reference_code": {
                                        "description": "کد پیگیری پرداخت از درگاه پرداخت",
                                        "type": "string",
                                        "example": "PAY-20230101-ABC123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "پکیج با موفقیت خریداری شد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "پکیج با موفقیت خریداری شد."
                                        },
                                        "transaction": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "wallet_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "example": "buy"
                                                },
                                                "coins": {
                                                    "description": "کوین اضافه شده",
                                                    "type": "integer",
                                                    "example": 100
                                                },
                                                "coins_before": {
                                                    "description": "موجودی قبل از خریداری",
                                                    "type": "integer",
                                                    "example": 0
                                                },
                                                "coins_after": {
                                                    "description": "موجودی بعد از خریداری",
                                                    "type": "integer",
                                                    "example": 100
                                                },
                                                "paid_amount": {
                                                    "type": "integer",
                                                    "example": 90000
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "خریداری پکیج کوین"
                                                },
                                                "product_id": {
                                                    "type": "integer",
                                                    "example": null
                                                },
                                                "coin_package_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "reference_code": {
                                                    "type": "string",
                                                    "example": "NOTIN-RC-PACKAGE-20230101-ABCDEF"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-01-01T00:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-01-01T00:00:00Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "پکیج یافت نشد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "پکیج انتخابی در دسترس نیست"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "خطای اعتبارسنجی",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "مبلغ پرداختی باید دقیقاً برابر با قیمت نهایی پکیج باشد"
                                        },
                                        "required_amount": {
                                            "type": "integer",
                                            "example": 90000
                                        },
                                        "paid_amount": {
                                            "type": "integer",
                                            "example": 85000
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "خطای سرور",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "خطا در خرید پکیج"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/privacy-policies": {
            "get": {
                "tags": [
                    "Privacy Policy"
                ],
                "summary": "دریافت سیاست حفاظت از حریم خصوصی",
                "description": "بازیابی تمام بندهای سیاست حفاظت از حریم خصوصی به ترتیب نمایش. این اطلاعات برای هر کاربری درخواست‌شده می‌تواند تهیه شود و شامل تمام بند‌های مرتب‌شده‌ای است که توسط مدیر سیستم تعریف شده‌اند.",
                "operationId": "ba45fc344dcbf0e75e26566c1018fc13",
                "responses": {
                    "200": {
                        "description": "لیست سیاست حفاظت از حریم خصوصی با موفقیت دریافت شد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "شناسه منحصر بند",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "description": "عنوان بند سیاست",
                                                        "type": "string",
                                                        "example": "عنوان سیاست"
                                                    },
                                                    "content": {
                                                        "description": "محتوای کامل بند سیاست",
                                                        "type": "string",
                                                        "example": "متن کامل سیاست حفاظت از حریم خصوصی شامل تمام جزئیات مربوط به جمع‌آوری و استفاده از اطلاعات کاربران"
                                                    },
                                                    "order": {
                                                        "description": "ترتیب نمایش بند (کوچک‌تر = ابتدا نمایش)",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "description": "تاریخ ایجاد بند",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2023-01-15T10:30:00Z"
                                                    },
                                                    "updated_at": {
                                                        "description": "تاریخ آخرین به‌روزرسانی",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2023-06-20T14:45:00Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/products": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "دریافت لیست محصولات",
                "description": "بازیابی لیست تمام محصولات فعال با امکان جستجو، فیلتر و مرتب سازی",
                "operationId": "c1ff6f862214e1896c59cfe0491ce0e8",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "جستجو در نام و توضیحات محصولات",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "تصویر"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "فیلتر کردن بر اساس دسته بندی",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "مرتب سازی نتایج (newest=جدیدترین، oldest=قدیمی‌ترین، most_liked=بیشتر لایک‌شده، most_purchased=بیشتر خریداری‌شده، most_viewed=بیشتر مشاهده‌شده، price_high=قیمت بالا، price_low=قیمت پایین)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "newest",
                                "oldest",
                                "most_liked",
                                "most_purchased",
                                "most_viewed",
                                "price_high",
                                "price_low"
                            ],
                            "example": "newest"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "تعداد محصولات در هر صفحه",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "لیست محصولات با موفقیت دریافت شد",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "تصویر سه بعدی"
                                                    },
                                                    "high_quality_image": {
                                                        "description": "لینک فایل امضا شده برای تصویر با کیفیت بالا",
                                                        "type": "string",
                                                        "example": "https://example.com/storage/images/product-1-hq.jpg?signature=xxx"
                                                    },
                                                    "low_quality_image": {
                                                        "description": "لینک فایل امضا شده برای تصویر با کیفیت پایین",
                                                        "type": "string",
                                                        "example": "https://example.com/storage/images/product-1-lq.jpg?signature=xxx"
                                                    },
                                                    "price": {
                                                        "description": "قیمت به کوین",
                                                        "type": "integer",
                                                        "example": 100
                                                    },
                                                    "description": {
[...]
